@media (max-width:1399px){
.container{
    max-width: 1200px;
}
}
@media (max-width:1199px){
    .container{
        max-width: 1000px;
    }
    header ul{
        column-gap: 30px;
    }
    .top__btn{
        display: none;
    }
    .top__img{
        width: 500px;
    }
    .top__logo{
        justify-content: flex-start;
        column-gap: 50px;
    }
    .top__info p {
        position: relative;
        top: -110px;
    }
    .banner__top{
        align-items: flex-end;
    }
    .as__left img{
        width: 380px;
    }
    .as__center{
        width: 250px;
    }
    .as_right img{
        width: 170px;
    }
    .as__right__btn{
        display: none;}
}
@media (max-width:999px){
    .container{
        max-width: 800px;
    }
    header  ul{
        display: none;
    }
    
    header a{
        display: none;
    }
   
    .burger{
        width: 40px;
        height: 4px;
        background: black;
        position: absolute;
        right: 40px;
        top:50px;
        z-index: 11;
    }
    .burger::before{
        content: '';
        width: 40px;
        height: 4px;
        background: black;
        position: absolute;
        top: -9px;
    }
    .burger::after{
        content: '';
        width: 40px;
        height: 4px;
        background: black;
        position: absolute;
        top: 9px;
    }
    
    
    .top__img1{
        display: none;
    }
    .banner__box{
        display: none;
    }
    .banner__btn{
        display: none;
    }
    .banner__btnplus{
        display: block;
    }
}
@media (max-width:470px){
    .container{
        max-width: 85%;
    }
    .top__img{
        width: 100%;
    }
    .top__info p{
        top: 0;
        text-align: center;
        width: 80%;
    }
    .top__info{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        padding-bottom: 40px;
    }
    .top__info h3{
        font-size: 14px;
    }
    .as .container{
        flex-direction: column;
        position: relative;
    }
    .as__right{
        display: none;
    }
    .as__center{
        position:static;
    }
    .as__center h2{
        top: -100px;
        width: 195px;
        left: -45px;
        
    }
    .as__left{
        margin-top: 200px;
    }
}